  <div
    class="authentication-card-container"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <mat-card class="authentication-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header
      >
      <mat-card-content>
        <form
          [formGroup]="registerForm"
          fxLayout="column"
          fxLayoutAlign="center stretch"
        >
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input
              matInput
              [errorStateMatcher]="matcher"
              formControlName="username"
            />
            <mat-error
              *ngIf="registerForm.controls['username'].hasError('required')"
            >
              Username is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls['username'].hasError('minlength')"
            >
              Username must have <strong>more than 5 characters</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              [errorStateMatcher]="matcher"
              type="email"
              formControlName="email"
            />
            <mat-error
              *ngIf="registerForm.controls['email'].hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
              Email must be <strong>valid</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              [errorStateMatcher]="matcher"
              type="password"
              formControlName="password"
            />
            <mat-error
              *ngIf="registerForm.controls['password'].hasError('password')"
            >
              Password must have
              <strong
              >more than 6 characters, min. 1 uppercase, min. 1 lowercase, min.
                1 special characters</strong
              >
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Register
        </button>
        <button mat-button routerLink="/login" routerLinkActive="active">
          Already have an account? Login here.
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
